{% extends 'base.html' %}
{% block content %}

<h1>{{ nickname }} for {{ locid }}</h1>

<ul>
<li><a href="{{ edit_url }}">Change settings</a></li>
</ul>

<p>
There {{ 'is' if alerts | length == 1 else 'are' }} {{ alerts | length }} {{ 'alert' if alerts | length == 1 else 'alerts'}}:
</p>

<ul>

{% if stats[AlertType.REPORT_PENDING] %}
<li>{{ stats[AlertType.REPORT_PENDING] }} pending {{ 'alert' if stats[AlertType.REPORT_PENDING] == 1 else 'alerts'}}</li>
{% endif %}

{% if stats[AlertType.REPORT_RELAYED] %}
<li>{{ stats[AlertType.REPORT_RELAYED] }} relayed {{ 'alert' if stats[AlertType.REPORT_RELAYED] == 1 else 'alerts'}}</li>
{% endif %}

{% endblock %}
