{% extends 'base.html' %}
{% block content %}

<form id="alert_form" action="{{ url_for('new_alert', locid=locid) }}" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<textarea name="text" autofocus></textarea>
<br />
<input type="submit" value="Queue it" />
</form>

<h3>Pending</h3>
<ul>
{% for msg, aid in alerts.get(AlertType.REPORT_PENDING, []) %}
    <li>
        {{ msg }}
        <ul>
            <li>
                <button onclick="patch_alert('{{ url_for('patch_alert', locid=locid, alert=aid) }}', {{ AlertType.REPORT_RELAYED }})">
                    Approve
                </button>
            </li>
            <li>
                <button onclick="patch_alert('{{ url_for('patch_alert', locid=locid, alert=aid) }}', {{ AlertType.REPORT_REJECTED }})">
                    Reject
                </button>
            </li>
        </ul>
    </li>
{% endfor %}
</ul>

<h3>Sent recently</h3>
<ul>
{% for msg, _ in alerts.get(AlertType.REPORT_RELAYED, []) + alerts.get(AlertType.WALLOPS_RELAYED, []) %}
    <li>{{ msg }}</li>
{% endfor %}
</ul>

<h3>Rejected recently</h3>
<ul>
{% for msg, _ in alerts.get(AlertType.REPORT_REJECTED, []) %}
    <li>{{ msg }}</li>
{% endfor %}
</ul>


<script>
function patch_alert(url, alert_type) {
    let fd = new FormData();
    fd.append('alert_type', alert_type);
    fd.append('csrf_token', '{{ csrf_token() }}');

    fetch(url, {
        method: 'PATCH',
        body: fd,
        credentials: 'include',
        headers: new Headers()
    }).then(_ => location.reload());
}
</script>
{% endblock %}
