<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />

    {% if locid is defined %}
        <title>{{ beacon_nickname(locid) }} {{ locid }} admin</title>
    {% else %}
        <title>smsbeacon admin</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% block menu %}
<nav>
    <ul>
        <li>{{ beacon_nickname(locid) }} {{ locid }}</li>
        {% for page in 'alerts, subscribers, admins, bans, settings, log out'.split(', ') %}
            <li><a href="{{ url_for(page.replace(' ', ''), locid=locid) }}">{{ page | capitalize }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock menu %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
            <li class="{{ category }}">
            {%- if category == 'new_secret' -%}
                Your Plivo secret has been updated. Please update the URL in Plivo to: <code>{{ message }}</code>
            {%- else -%}
                {{ message }}
            {%- endif -%}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
