{% extends 'base.html' %}
{% block content %}

<h2>{{ kind }}</h2>

<a id="show-user-form" onclick="show_user_form()" href="javascript:void(0)">Make new</a>

<form id="user-form" action="{{ url_for('post_user', locid=locid) }}" method="post" style="display:none;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="return_to" value="{{ request.url }}" />
    <input type="hidden" name="user_type" value="{{ user_types[0] }}" />

    Phone number:
    <br />
    <input type="text" name="telno" />
    <br />

    {% if user_types[0] == UserType.ADMIN %}
        Name:
        <br />
        <input type="text" name="nickname" />
        <br />

        <input type="submit" value="Make admin" />
    {% elif user_types[0] == UserType.BANNED_WASNT_SUBSCRIBED %}
        Reason:
        <br />
        <textarea name="ban_reason"></textarea>
        <br />

        <input type="submit" value="Ban" />
    {% elif user_types[0] == UserType.SUBSCRIBED %}
        <input type="submit" value="Subscribe" />
    {% endif %}
</form>

<ul>

    {% for telno, (uid, user_type, nickname, ban_reason, admin_status) in users.items() %}
        <li>
            {% if nickname %}
                {{ nickname }} at
            {% endif %}
            {{ telno }}

            {#- TODO: mark this on UserType once queueing works -#}
            {% if admin_status %}
                ({{ admin_status }})
            {% endif %}

            {% if ban_reason %}
                <br />Ban reason: {{ ban_reason }}
            {% endif %}
        </li>
        {% if uid != g.auth['uid'] %}
            <ul>

                {% if user_type == UserType.SUBSCRIBED %}
                <li>
                    <button onclick="patch_user('{{ url_for('patch_user', locid=locid, uid=uid) }}', {{ UserType.NOT_SUBSCRIBED }})">
                        Unsubscribe
                    </button>
                </li>

                <li>
                    <button onclick="patch_user('{{ url_for('patch_user', locid=locid, uid=uid) }}', {{ UserType.ADMIN }})">
                        Make admin
                    </button>
                </li>
                {% endif %}

                {% if user_type in (UserType.BANNED_WAS_SUBSCRIBED, UserType.BANNED_WASNT_SUBSCRIBED) %}
                <li>
                    <button onclick="patch_user('{{ url_for('patch_user', locid=locid, uid=uid) }}', {{ UserType.SUBSCRIBED if user_type == UserType.BANNED_WAS_SUBSCRIBED else UserType.NOT_SUBSCRIBED }})">
                        Unban
                    </button>
                </li>
                {% endif %}

                {% if user_type in (UserType.ADMIN, UserType.SUBSCRIBED) %}
                <li>
                    <button onclick="patch_user('{{ url_for('patch_user', locid=locid, uid=uid) }}', {{ UserType.BANNED_WAS_SUBSCRIBED }})">
                        Ban
                    </button>
                </li>
                {% endif %}

                {% if user_type == UserType.ADMIN %}
                <li>
                    <button onclick="patch_user('{{ url_for('patch_user', locid=locid, uid=uid) }}', {{ UserType.SUBSCRIBED }})">
                        Demote to subscriber
                    </button>
                </li>
                    {#- TODO: mark this on UserType once queueing works -#}
                    {% if admin_status %}
                    <li>
                        <button onclick="patch_user('{{ url_for('patch_user', locid=locid, uid=uid) }}', {{ UserType.ADMIN }}, '{{ nickname }}')">
                            Re-invite
                        </button>
                    </li>
                    {% endif %}
                {% endif %}

            </ul>
        {% endif %}
    {% endfor %}
</ul>

<script>
function patch_user(url, user_type, nickname) {
    const fd = new FormData();
    fd.append('user_type', user_type);
    fd.append('csrf_token', '{{ csrf_token() }}');

    {# if we're promoting people, we need their names #}
    if (arguments.length === 3 && nickname.length > 0) {
        fd.append('nickname', nickname);
    } else if (user_type === {{ UserType.ADMIN }}) {
        nickname = '';
        while (typeof(nickname) !== 'string' || nickname.length === 0) {
            nickname = prompt("Please give this new admin a name:");
        }
        fd.append('nickname', nickname);
    }

    {# if we're banning people, we need a reason #}
    else if ([{{ UserType.BANNED_WASNT_SUBSCRIBED }}, {{ UserType.BANNED_WAS_SUBSCRIBED }}].includes(user_type)) {
        let ban_reason = '';
        while (typeof(ban_reason) !== 'string' || ban_reason.length === 0) {
            ban_reason = prompt("Please give a reason for this ban:")
        }
        fd.append('ban_reason', ban_reason);
    }

    fetch(url, {
        method: 'PATCH',
        body: fd,
        credentials: 'include',
        headers: new Headers()
    }).then(_ => location.reload());
}

function show_user_form() {
    document.getElementById('user-form').style.display = 'block';
    document.getElementById('show-user-form').style.display = 'none';
}
</script>
{% endblock %}
